<div class="container content">
	<div class="buttons">
		<a href="/login"><button>Sign In</button></a>
		<a href="/signup"><button>Sign Up</button></a>
	</div>
		
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<br>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<hr>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<hr><hr>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<h2>i am also a heading</h2>
	<h1>I AM A HEADING</h1>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<br>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<hr>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<hr><hr>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<h2>i am also a heading</h2>
	<h1>I AM A HEADING</h1>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<br>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<hr>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<hr><hr>
	<p>this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. this is paragraph text. </p>
	<h2>i am also a heading</h2>
	<h1>I AM A HEADING</h1>
</div>