/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require base
 *= require layout
 *= require skeleton
 *= require normalize
 */
body {
	background: black;
	color: white;
}
b {
	color: #FF00FF;
}

strong {
	color: #FF0000;
}
.logo {
	width: 216px;
	height: 330px;
}

.navbar {
	position: fixed;
	padding: 50px;
}
.content {
	padding-left: 150px;
}
.directory {
	position: fixed;
	margin: 0 auto;
	bottom: 0;
	padding-left: 100px;
	padding-right: 100px;
	background: black;
}