<!DOCTYPE html>
<html>
<head>
  <title>Divebar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container navbar">
	<div class="row">
		<div class="four columns">
			<h3>ALL WEEK</h3>
			<h6>12 NOON - SHOWTIME!</h6>
		</div>
		<div class="eight columns"></div>
	</div>
	<div class="row">
		<div class="four columns">
			<img class="logo" src="/assets/Main_01.gif" alt="">
		</div>
		<div class="eight columns">
			
		</div>
	</div>
	<div class="row">
		<div class="four columns">
		</div>
		<div class="eight columns"></div>
	</div>
</div>

<%= yield %>

<div class="container directory">
	<div class="row">
		<div class="two columns">HOME</div>
		<div class="two columns">CALENDAR</div>
		<div class="two columns">BOOKING</div>
		<div class="two columns">POLICIES</div>
		<div class="two columns">PHOTOS</div>
		<div class="two columns">MAP</div>
	</div>
</div>
</body>
</html>
