<div class="container content">
<h1 class="heading">Responsibilities of bands/performers:</h1>
<ol>
	<li>All performers appearing at the STORK CLUB must be at least 21 years old with valid  photo ID presented at the door. </li>
	<li>Bands need a minimum of 20 minutes to 45 minutes maximum of material to perform</li>
</ol>
<hr>
<h2>Hospitality:</h2>
<hr>
<ol>
	
<li> When all members of each band arrive and show a valid ID, and AFTER ten people have paid the admission charge to see your band you will be given two drink tickets per band member.  These drink tickets are good for 1 PBR bottle beer each or  ONE 'well' drink.</li>  

<li>Bands are entitled to one guest per band member. You can give the door person the name(s) of people to be allowed in at no charge. Guests under the age of 21 cannot be admitted at all. *Note to the wise! Keep in mind every free admission reduces your drink tickets and the amount of money your band receives. Three or four bands using all their guest passes in one night, can drastically reduce the total door revenue. Consider wisely on free admissions. (if they're REALLY your friends, wouldn't they WANT to support you?) It's up to you! If you have invited media and/or journalists to your show, please call the Booker in advance and they will be added to the house guest list. This helps us keep track of articles/write-ups as well as maintaining the guest list. Journalists/photographers with valid press passes/ID are admitted free anytime.</li>

<li>The STORK CLUB  cannot  pay any guarantees. once the door cash is collected, $100 is taken out to pay sound tech and door security. any amount over that is all for the bands. it IS the best deal in town.  The door person asks each guest what band they came to see and door money is allotted to the bands depending upon how many paid admissions they bring. the door/cover charge is usually $5 unless the bands/booker believe their draw will be willing to pay more.</li>
</ol>

<p>This is the policy unless you have specifically worked out  another arrangement with the Booker and Bar Manager in ADVANCE.</p>

<h4>BAND LOAD-IN, EQUIPMENT STORAGE</h4>
<ol>

	<li>All performers are expected to load in their equipment between 8 PM & 9 PM,   Please place equipment in the 3 designated areas to the RIGHT of the front door. Please do not drop equipment in front or next to the stage, even if you're going on first...you'll need a place to move it to AFTER your set's done.</li>
	Please don't leave your gear onstage EVER!
	The club cannot be held responsible for  stolen or beer-drenched equipment placed next to the 'mosh pit'. 
	<li>If you are the opening band and arrive later than your scheduled start time (usually between 9:30 -10:00) you will go on LAST unless you have made other arrangements with the booker.</li>

	<li>Show starting times are:

	Nights with 4 or more bands it's 9:30 PM, nights with 5 bands must begin no later than 9pm</li>

	<li>Band order will be decided the booker & displayed on the website calendar and newspaper listings. The headliner (last) band at the top, the middle act in the middle & the opener on the bottom of the listing. (note: when there are acts with performers under the age of 21,they will have to perform first, as they cannot be in the club unless they are setting up, performing and loading out.)</li>

	<li>If you are unhappy of the order of the set times, please take care of that with the booker BEFORE the night of your show.  Only the Booker/Promoter  has the ability to fix it /make it up to you/ explain why it went down the way it did.</li>
	<p><b>Don't even think about asking the sound tech to change the set order.</b></p>
	<li>Please bear in mind equipment set-up time is part of your allotted performance time. please make sure all drums & hardware are set up & ready to move onstage BEFORE your set. the same goes for elaborate keyboard/pedalboard electronics. there are plenty of tables available to set up on in advance & power available for older analog synths & laptops. ask the sound tech where to plug in.  There is a charging station in front of the sound desk where cell phones, cameras & laptops can be charged. please don't use the power strips onstage because the sound tech will step on them.</li>

	<li>If you have a stage plot indicating where your instruments/mics go, please email a jpeg of that to the booker. otherwise, see the www.storkcluboakland.com STAGE & SOUND web page for complete details.</li>

	<p><strong>If you have an extraordinary set-up or costumes, please advise the booker in advance, so the staff can help out with showing you the make-up/changing areas or help get your gear onstage in a reasonable amount of time.</strong></p>

	<li>Please be respectful of the other bands by setting up and breaking down quickly and efficiently. Talk to your friends and/or groupies after your set  OFF STAGE. If your act requires the throwing of food, confetti, stage blood, etc, please be ready & willing to clean up your mess immediately after your set. The bar-back can provide you with cleaning materials. Thanks</li>

	<li>Failure to show at a confirmed, scheduled show without prior notice, phone call, email,  may result in an inability to be booked again. In all cases, communication with the Booker, is expected and appreciated.) the first rule of success is  to SHOW UP, right?!</li>

	<li>Bands are expected to stay for the duration of the show (to support the other bands).  If you need to leave before the show is over, please mention this before your gig to the Booker. Bands get paid when all music has stopped for the evening and we have stopped collecting door cash. Bands that leave early will have to pick up their share at The STORK CLUB during bar hours (Tues-Sun after 4 PM) at a later date. Money not collected by bands at the night of performance, will be held for 30 days only, after which time they become the property of the STORK CLUB and will be used to replace damaged microphones, cables, stands, etc.</li>

	<li>Bands/Performers who intentionally or willingly destroy or steal the STORK CLUB's or anybody else's property will have $$$ taken out of their door pay. this includes smashing/clogging up bathroom fixtures.</li>

	OUTSIDE FOOD & BEVERAGES:

	Yes, you can bring in your own dinner of course, there's a couple of good places nearby, but please don't bring liquor, wine bottles or beers into the club. There is an organization called the ABC, ( Alcoholic Beverage Control) and they'll bust our asses for letting people bring in their own booze. It's just the law. Just like any other bar, you can't take your drink outside on the sidewalk either. There's an outdoor smoking area by the pool room in back, you can drink & smoke there. While the club cannot condone drinking in your van, it's usually a better idea to do it there if you absolutely must. Drinking in front of the club on the sidewalk is just plain stupid and you will be cited by OPD, so don't do it if you don't like the Cops getting in your face or the local  crack-heads hittin' you up for a swig, 

	 The club has a water cooler where you can get plenty of fresh water for free and there's  coke, sprite, red bull, etc. available at the bar for cheap.
</ol>
	<p>Thanks,<br>
	The Management</p>
</div>